<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: 'Cách mua'}) %>   <!--// partial Head //-->
    <body>

        <%- include('../partials/header') %>   <!--// partial Header //-->

        <main class="mainHowTB">
            
            <div class="imageHowTB">
                <img src="/img/img_HowToBuy.jpg" alt="imagen de modelo"  >
            </div>     
            
            <div class="howTBSection">
                <section >
                    <h1 class="centrar">Giao dịch mua của bạn đã hoàn tất thành công!</h1>
                    <article>
                        <div >
                            <p> Bạn sẽ nhận được một email từ chúng tôi, với tất cả các chi tiết về giao dịch mua của bạn. </p>   
                            <p> Khi thanh toán thành công, chúng tôi sẽ gửi cho bạn một email xác nhận và đơn đặt hàng của bạn sẽ được gửi trong 2 ngày làm việc tiếp theo..</p>
                        </div>
                    </article>

                </section>
            </div>
            
        </main>

        <%- include('../partials/footer') %>   <!--// partial Footer //-->
        
    </body>
</html>