<section class="banner">   <!--// Banner //-->
            
    <div class="banner-box">
        <p><i class="far fa-credit-card"></i> Trả góp không lãi suất 3, 6 và 12!</p>
    </div>
    <div class="banner-box">
        <p><i class="fas fa-plane"></i> Miễn phí vận chuyển toàn quốc bắt đầu từ $ 6000</p>
    </div>
    <div class="banner-box">
        <p><i class="fas fa-money-bill-wave"></i> Giảm giá 10% thanh toán bằng ghi nợ hoặc chuyển khoản</p>
    </div>
    <div class="banner-box">
        <p><i class="fab fa-whatsapp"></i> Bạn có nghi vấn? Liên hệ với chúng tôi và chúng tôi sẽ tư vấn cho bạn</p>
    </div>

</section>