<!DOCTYPE html>
<html lang="en">
    
    <%- include('../partials/head', {title: 'Nosotros'}) %>   <!--// partial Head //-->
    
    <body>

        <%- include('../partials/header') %>   <!--// partial Header //-->

        <main class="mainUs">
            
            <div class="imageUs">
                <img src="img\img_nosotros.jpg" alt="nuestra fabrica"  >
            </div>     
            
            <div class="usSection">
                <section >
                    <h1 class="centrar padd-20">Về chúng tôi</h1>

                    <article>
                        <h2>Nhà máy</h2>
                        <div >
                            <p>Nhà máy của chúng tôi có công nghệ mới nhất trong máy móc để sản xuất giày dép.</p>
                            <p>Ngoài ra, nhà máy của chúng tôi tuân thủ các tiêu chuẩn ISO 9001: 2008 đảm bảo chất lượng của mỗi đôi giày của chúng tôi..</p>
                        </div>
                    </article>

                    <article>
                        <h2>Showroom</h2>
                        <div>
                            <p>Ngặc của họ được đặt tại Thành phố tự trị Buenos Aires, trên lối vào chính của nó: Av. Gral. Paz..</p>
                            <p>Trong đó, bạn sẽ tìm thấy bộ sưu tập hoàn chỉnh của chúng tôi và bạn sẽ có thể yêu cầu lời khuyên cá nhân.</p>
                        </div>    
                    </article>
                </section>
            </div>

        </main>

        <%- include('../partials/footer') %>   <!--// partial Footer //-->
        
    </body>
</html>