<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: 'Cách mua'}) %>   <!--// partial Head //-->
    <body>

        <%- include('../partials/header') %>   <!--// partial Header //-->

        <main class="mainHowTB">
            
            <div class="imageHowTB">
                <img src="img\img_HowToBuy.jpg" alt="imagen de modelo"  >
            </div>     
            
            <div class="howTBSection">
                <section >
                    <h1 class="centrar">Cách mua?</h1>
                    <article>
                        <h2 >Các bước để mua hàng:</h2>
                        <div >
                            <p>Chọn mô hình bạn muốn mua, chọn kích thước và màu sắc. Nhấp vào nút "Thêm vào giỏ hàng". Điều này sẽ thêm sản phẩm vào giỏ hàng của bạn và hiển thị nó ở góc trên bên phải. Bạn có thể tiếp tục thêm các sản phẩm khác vào giỏ hàng hoặc nhấp vào "Bắt đầu mua hàng"". </p>
                            <p>Điền thông tin liên lạc của bạn và sau đó là chi tiết vận chuyển, nhập địa chỉ nơi bạn muốn nhận sản phẩm. Sau đó chọn phương tiện thanh toán. </p>
                            <p>Cuối cùng trên trang Xác nhận mua hàng, bạn có thể xem lại tất cả các thông tin giống nhau. Ở đó bạn sẽ được chuyển hướng đến một màn hình khác để điền vào các chi tiết về phương thức thanh toán đã chọn. Sau khi việc mua hàng được xác nhận và hoàn tất, bạn sẽ nhận được email từ chúng tôi.. </p>   
                            <p>Khi thanh toán được ghi có, chúng tôi sẽ gửi cho bạn một email xác nhận và đơn đặt hàng của bạn sẽ được gửi trong 2 ngày làm việc tiếp theo.</p>
                        </div>
                    </article>

                    <article>
                        <h2>Phương thức vận chuyển:</h2>
                        <div>
                            <p>Trong trường hợp lô hàng thông qua OCA, chúng tôi sẽ gửi cho bạn một email với số vận chuyển để bạn có thể theo dõi nó. Thông thường việc giao hàng mất từ 4 đến 6 ngày làm việc, tùy thuộc vào thời hạn OCA. </p>
                            <p>Vào những ngày đặc biệt như Hot Sale, Black Friday hoặc Cyber Monday, thường có sự chậm trễ lâu hơn trong các lô hàng, từ 9 đến 12 ngày làm việc do số lượng lô hàng được thực hiện bởi Oca..</p>
                            <p>Nếu bạn chọn vận chuyển qua Treggo, chúng tôi sẽ liên hệ với bạn để phối hợp.</p>
                        </div>    
                    </article>
                </section>
            </div>
            
        </main>

        <%- include('../partials/footer') %>   <!--// partial Footer //-->
        
    </body>
</html>